/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Explicitly set the height of html, body, and #grid-container */
html, body {
    /* width: 90%; */
    height: 100vh;
    background-color: antiquewhite;
}
.headerText {
    font-family: 'Workbench', sans-serif;
    padding-top: 3%;
    letter-spacing: 1px;
    text-align: center;
    font-size: 3rem;
    padding-bottom: 2vh;
    border-bottom: solid 2px ;
}
#grid-container {
    margin-top: 10%;
    border: #000000 solid 2px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    max-width: 70vh !important;
    max-height: 70vh !important;

}

.grid-item {
    margin: 0;
    padding: 0;
    flex: 1;
    border: solid rgba(88, 86, 86, 0.354) 1px;
    width: 100% !important;
    height: 100% !important;
}
.row {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 69vh;
    
}
.space{
    padding-inline: 20px;
}
footer{
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-top: 30px;
    font-family: 'Workbench', sans-serif;
    letter-spacing: 2px;
    width: 100%;
    background-color: rgba(240, 248, 255, 0.163);
    padding-block: 25px;
    color: black;
    border-top: #000000 solid 1px;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-block: 30px;
    margin-left: 40px;
    margin-right: 40px;
    gap: 30px;
    min-width: 150px;
    width: auto;
    font-family: 'Workbench', sans-serif;
}

button {
    --color: #000000;
    padding: 0.7em 1.7em;
    background-color: transparent;
    /* border-radius: .3em; */
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
    font-weight: 400;
    font-size: 17px;
    border: 1px solid;
    font-family: inherit;
    text-transform: uppercase;
    color: var(--color);
    z-index: 1;
}
.eraserBtn {
    font-family: 'Workbench', sans-serif;
}
.eraser {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
button::before, .button::after {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: var(--color);
    transition: 1s ease;
}

button::before {
    top: -1em;
    left: -1em;
}

button::after {
    left: calc(100% + 1em);
    top: calc(100% + 1em);
}

button:hover::before, .button:hover::after {
    height: 410px;
    width: 410px;
}

button:hover {
    color: rgb(255, 255, 255);
}

button:active {
    filter: brightness(.8);
}
@media (max-width: 800px) {
    body #grid-container {
        /* max-width: 10px; */
        max-width: 50vh !important;
        max-height: 50vh !important;
    }
    .row {
        height: 49vh !important;
    }
    body button {
        font-size: 13px;
    }
}

@media (max-width: 440px) {
    body #grid-container {
        /* max-width: 10px; */
        max-width: 30vh !important;
        max-height: 30vh !important;
    }
    .row {
        height: 29vh !important;
    }
    body button {
        font-size: 10px;
        padding: 0.5em 1em;
    }
    footer {
        margin-top: 250px;
        padding-block: 15px;
    }
    .footerText {
        font-size: 13px;
    }
    .space {
        padding-inline: 10px;
    }
}
@media (max-width: 390px) {
    body .grid-item {
        min-width: 4px !important;
        min-height: 4px !important;
    }
    button{
        font-size: 5px;
    }
    footer {
        margin-top: 250px;
        padding-block: 15px;
    }
    .footerText {
        font-size: 10px;
    }
    .space {
        padding-inline: 10px;
    }
}